@import "tailwindcss";
@import "@nuxt/ui";

body {
  @apply bg-gray-900 text-white;
}

@theme {
  --ui-primary: #fff;
  --ui-secondary: var(--color-orange-500);
}

@utility container {
  padding-inline: 20px;
}
